*{
  
  box-sizing: border-box;
  
}
:root{
  
  background-color: #161A30;
}

body{
  font-family: 'Roboto Mono', monospace;
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Roboto Mono', monospace;  
}
.Nav {
  background-color:#161A30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: white;
  padding: 5px;
  z-index: 2;
  font-family: 'Roboto Mono', monospace;
  position:fixed;
  width: 100%;
  top: 0;
  transform: skew(-10deg);
}
.content {


  padding-top: 99px; /* Ajusta según la altura de tu barra de navegación y cualquier espacio adicional necesario */
  transition: padding-top 0.3s ease; /* Efecto de transición suave */
}

#mobileNav{
  background-color:#161A30;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  top: 60px; /* Ajusta la distancia desde la parte superior según tus necesidades */
  left: 0;
  width: 100%;
  z-index: 1;

}
.mobileNav ul {

  padding: 0%;
  
}
.mobileNav li {
  text-align: center;
  padding: 0px 0px;
  margin: 10px ;
  
}
.mobileNav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  
  /* Otros estilos que desees agregar */
}





@media screen and (max-width:768px) {
  .titulos {
      display:none;
  } 
}

@media screen and (min-width:768px) {
  .mobileNav ul li a{
      display:none;
  } 
}











.hamburguer{
font-size: 80px;
position: relative;
bottom: 10px;
right: 15px;
cursor: pointer;
}

.hamburguer.open span {
  color: #B6BBC4;
}
@media screen and (min-width:768px) {
  .hamburguer{
      display:none;
  } 
}





.logotipo img {
  z-index: 1;
  border-radius: 10%;
  height: 95px;
  cursor: pointer;
}









.titulo{
    font-size: 65px;
    text-align: center;
    background-color: #31304D;
    padding: 20px;
    padding-bottom: 40px;
    color: #ccc;
    transition: color 0.3s ease-in-out;
    font-family: 'Roboto Mono', monospace;
    border-radius: 15px 15px 0 0; /* Aplica bordes redondeados solo en la parte superior */
    transform: skew(-10deg); /* Inclina el título */
  }


.titulo:hover{
  color: #ffffff;
}
@media screen and (max-width:768px) {
  .titulo {
        font-size: 55px;
  } 
}

 ul {
  list-style: none;
  display: flex;
}

 ul li {
  margin-right: 20px;
  font-size: 30px;
}

 ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  
}

 ul li a:hover {
  color: #B6BBC4;
}

/* Alinea los elementos ul y li a la derecha */
.titulos {
  margin-left: auto;
  cursor: pointer;
}



ul li a:hover{
  color: #B6BBC4;
}

.productos{
 
  background-color: #B6BBC4;
  padding-top: 120px;
  padding-bottom: 120px;
  border: 10px #31304D solid;
  
}


.textoProducto h2{
  text-align: center;
  font-size: 75px;
  margin-top: 0px;
  color: white;
  transition:color 0.3s ease-in-out ;
  transform: skew(-10deg);

}

.textoProducto h2:hover{
  color: #31304D;
}


.textoProducto p{
  text-align: center;
  color: white;
  font-family: 'Bungee Spice', sans-serif;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 35px;
  transition:color 0.3s ease-in-out ;
}
.textoProducto p:hover{
  color:#31304D ;
}

.botonProducto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  padding-top: 10px;
  
}
.botonProducto button {
  padding: 1px 0px; /* Ajusta el relleno (padding) de los botones */
  margin: 0 50px; /* Espacio entre los botones */
  font-size: 45px; /* Tamaño de la fuente */
  border-radius: 20px; /* Agrega esquinas redondeadas */
  background-color: #f0f0f0; /* Color de fondo del botón */
  color: #f7f7f7; /* Color del texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: all 0.3s ease; /* Efecto de transición suave */
  height: 400px;
  width: 400px;
}

@media screen and (max-width:768px) {
  .botonProducto button {
    height: 200px;
  width: 200px;
  margin: 0px 5px;  
  font-size: 30px;  
  } 
}
.botonProducto img{
  height: 400px;
  width: 400px;
  border-radius: 5%;

}
@media screen and (max-width:768px) {
  .botonProducto img {
    height: 200px;
  width: 200px;
       
  } 
}

.botonProducto button:hover {
  background-color: #ddd; /* Cambia el color de fondo al pasar el cursor */
  color:#31304D /* Cambia el color del texto al pasar el cursor */
}



.proyectos{

  background-color: #B6BBC4;
  padding-bottom: 50px;
  padding-top: 100px;
  border: 10px #31304D solid;
}

@media screen and (max-width:768px) {
  .proyectos h2 {
    scale: 0.7;
    
  } 
}

.textoProyectos h2{
  transform: skew(-5deg);
  background-color: #B6BBC4;
  color: white;
  text-align: center;
  font-size: 50px;
  padding-top: 60px;
  margin-top: 30px;
  
}

.textoProyectos h3{
  color: white;
}

.column h4{
  color: white;
  font-size: 37px;
}
.column p{
  color: white;
  font-size: 25px;
}

@media screen and (max-width:768px) {
  .column {
    scale: 0.8;
    
  } 
}

.contacto{
  transform: skew(-10deg);
  color:white;
  background-color: #31304D;
  text-align: center;
  font-size: 28px;
}
@media screen and (max-width:768px) {
  .contacto form {
    scale: 0.8;
  } 
}

@media screen and (max-width:768px) {
  .contacto h3 {
    scale: 0.8;
  } 
}
@media screen and (max-width:768px) {
  .contacto p {
    scale: 0.8;
  } 
}

.contacto h3{
  font-size: 50px;
  margin-top: 20px;
  padding-top: 60px;
}
textarea {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical; /* Permite ajustar verticalmente */
}

/* Estilos cuando el textarea tiene foco */
textarea:focus {
  outline: none;
  border-color: #007bff; /* Cambia el color del borde al tener foco */
}

.contacto button{
  height: 30px;;
  width: 60%;
  font-size: 22px;
}
.socialMedia{
  display: flex; /* Utiliza flexbox */
  justify-content: center; /* Centra horizontalmente los elementos */
  gap: 20px; /* Espacio entre los elementos */
  margin-top: 20px; /* Margen superior */
}

.socialMedia img {
  border-radius: 50%; /* Redondea las imágenes */
  border: 2px white solid;
  /* Otros estilos que desees agregar */

}

.socialMedia img:hover{
  transform: scale(1.1);
}

