.voyage{
    text-align: center;
    font-size: 80px;
    font-family: "Slabo 13px", serif;
    font-weight: 10;
    font-style: normal;
    margin: 0px;
    padding-top:120px ;
    padding-bottom: 100px;

    position: absolute;
    top: 62%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white; 
    
}

.imagen{
    height: 830px;
    width: 100%;
    clip-path: inset(10px 0 0 0);
   
	object-fit: cover;
	border-radius: 2%;
	
}
.principio{
        
   
    position: relative;
    margin-top: -100px; /* Mueve el contenido hacia arriba para llenar el espacio eliminado */
    overflow: hidden;
        
    }
    

.madeBy{
    text-align: center;
    font-family: "Slabo 13px", serif;
    
    transform: translateY(-230px); /* Cambia el valor para ajustar la elevación */
    color: white;
    padding-left: 93px;
    
}
@media only screen and (max-width: 960px) {
    .voyage {
        font-size: 50px;
        top: 80%;
      
    }
  
    .madeBy {
        font-size: 15px;
        transform: translateY(-90px);
        padding-left: 50px;
    }
  }